<% if defined?(:file_version) && !file_version.nil? %>

<div class="digital-object-thumbnail">
  <%= link_to file_version.fetch('file_uri'), :target => '_blank' do %>
    <% if file_version_is_image?(file_version) %>
      <%= image_tag file_version.fetch('file_uri'), :alt => file_version.fetch('caption', 'Thumbnail') %>
    <% else %>
      <%= content_tag(:i, nil, {:title => file_version.fetch('caption', 'Thumbnail'), :class => 'digital-object-thumbnail-icon glyphicon glyphicon-open-file'}) %>
    <% end %>
  <% end %>
  <% if file_version.fetch('caption', false) %>
    <div class="digital-object-thumbnail-caption"><%= file_version.fetch('caption') %></div>
  <% end %>
</div>

<div class="clearfix"></div>
<% end %>