<% if defined?(:file_version) && !file_version.nil? %>

<%
  caption = file_version.fetch('caption', 'Thumbnail') unless defined?(caption)
%>

<div class="digital-object-thumbnail">
  <%= link_to file_version.fetch('file_uri'), :target => '_blank' do %>
    <% if file_version_is_image?(file_version) %>
      <%= image_tag file_version.fetch('file_uri'), :alt => caption %>
    <% else %>
      <%= content_tag(:i, nil, {:title => caption, :class => 'digital-object-thumbnail-icon glyphicon glyphicon-open-file'}) %>
    <% end %>
  <% end %>
  <% if caption != 'Thumbnail' %>
    <div class="digital-object-thumbnail-caption"><%== caption %></div>
  <% end %>
</div>

<div class="clearfix"></div>
<% end %>