<%
  def is_an_embeddable_image?(thumbnail)
    thumbnail &&
      AppConfig[:thumbnail_file_format_names].include?(thumbnail['file_format_name']) &&
      thumbnail.fetch('file_uri').start_with?('http')
  end

  if defined?(thumbnail_link)
    thumbnail_link = nil
    same_window = true
  else
    thumbnail_link = result.thumbnail_link ? result.thumbnail_link.fetch('file_uri', nil) : nil
    same_window = false
  end

  only_show_images = false unless defined?(only_show_images)
  show_spacer = true unless defined?(show_spacer)
%>

<% unless result.thumbnail_embed.nil? && thumbnail_link.nil? %>
  <div class="pui-thumbnail">
    <%= link_to thumbnail_link, :target => same_window ? '_self' : '_blank' do %>
      <div class="pui-thumbnail-help-text">Click here to access online</div>
      <% if is_an_embeddable_image?(result.thumbnail_embed) %>
        <%= image_tag result.thumbnail_embed.fetch('file_uri'), :alt => strip_mixed_content(result.thumbnail_caption) %>
      <% else %>
        <% if only_show_images && show_spacer %>
          <div class="pui-thumbnail-spacer"></div>
        <% else %>
          <%= content_tag(:i, nil, {:title => strip_mixed_content(result.thumbnail_caption), :class => 'pui-thumbnail-icon fa fa-th'}) %>
        <% end %>
      <% end %>
    <% end %>
    <% if result.thumbnail_caption %>
      <div class="pui-thumbnail-caption"><%== result.thumbnail_caption %></div>
    <% end %>
  </div>
<% else %>
  <div class="pui-thumbnail-spacer"></div>
<% end %>